.container{
  margin-left: 800px; 
}

label {
    color: #435960;
    font-weight: bold;
  }
  input {
    font-size: 1em;
    padding: .5rem;
  }
  button {
    margin-top: 20px;
    background-color: #3f525c;
    padding: 1rem;
    border-radius: 6%;
    font-size: 1rem;
    color: white;
  }
  button:hover {
    background-color: black;
  }
  button:disabled {
    background-color: #eee;
    color: white;
    cursor: auto;
  }